body {
  font-family: 'Nanum Myeongjo', serif;
  height: 40vmin;
}

img {
  border-radius: 50%;
}

input {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* buttons */
button {
  border-radius: 50%;
  padding: 20px;
  background: #2a9d8f;
  color: white;
  border-color: #2a9d8f;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.buttoncontainer {
  display: flex
}

.landingbutton {
  border-radius: 50%;
  padding: 20px;
  background: #2a9d8f;
  color: white;
  border-color: #2a9d8f;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}
/* buttons */

/* landing */
.logo {
  font-size: 5.6rem;
  margin-top: 200px;
  margin-bottom: 15px;
}

.logo-sub {
  margin-bottom: 30px;
}

.disclaimer {
  margin-top: 30px;
}

.landing-container {
  text-align: center;
  flex-direction: center;
  margin: auto;
  width: 480px;
}
/* landing */

/* miso options */
.miso-options-container {
  text-align: center;
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  max-width: 480px;
  height: 100vh;
}

/* miso options */

/* pill description page */
.pilldescription-container {
  text-align: center;
  margin: auto;
  width: 480px;
}

.pill-title {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 60px;
  background-color: #fce9f4; 
  padding: 30px; 
}

.medication-names {
  font-size: 20px;
  margin-bottom: 0px;
}

.medication-description {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
/* pill description page */

/* miso options page */
.options-title {
  font-size: 30px;
  margin-bottom: 5px;
}
.buttons-container {
  display: flex;
  gap: 16px; 
  justify-content: center;
}
/* miso options page */

/* mife page */
.mife-container {
  text-align: center;
  margin: auto;
  width: 480px;
}

.mife-step-one {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 5px;
  
}

.title-container {
  background-color: #fce9f4; 
}

.mife-input {
  margin-top: 70px;
}

.mife-instruction {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

.suggestion {
  font-family: 'Open Sans', sans-serif;
}
.time {
  font-size: 20px;
}

.route {
  font-size: 38px;
  margin-top: 0px;
}
/* mife page */

/* instructions page */
.instructions-container {
  text-align: center;
  margin: auto;
  width: 480px;
}

.other-steps {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 60px;
  background-color: #fce9f4; 
  padding: 30px; 
}

.step-title {
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-decoration: underline;
}

.step-description {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.continue-break {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 25px; 
}
/* instructions page */

/* expectations page */
.expectations-container {
  text-align: center;
  margin: auto;
  width: 500px;
}

.expectations-title {
  font-size: 25px;
  text-decoration: underline;
  background-color: #fce9f4; 
  padding: 20px; 
}

.description {
  font-family: 'Open Sans', sans-serif;
}
/* expectations page */


@media only screen and (max-width: 768px) {
  .landing-container {
    text-align: center;
    flex-direction: center;
    margin-top: 200px;
    width: 380px;
  }

  .pilldescription-container {
    text-align: center;
    margin: auto;
    width: 380px;
  }

  .mife-container {
    text-align: center;
    margin: auto;
    width: 380px;
  }

  .instructions-container {
    text-align: center;
    margin: auto;
    width: 380px;
  }

  .expectations-container {
    text-align: center;
    margin: auto;
    width: 380px;
  }
}