:root {
  --animate-duration: 3000ms;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  height: 40vmin;
  margin: 0; /* Why Do We Still Have To Do This In 2023 */
}

img {
  border-radius: 50%;
}

input {
  font-size: 18px;
  font-family: 'Open Sans', serif;
  text-align: center;
  border-radius: 50px 40%;
  width: calc(100% - 70px);
  padding: 10px 25px;
  margin: 0 10px;
  cursor: pointer;
}

/* buttons */
button {
  border-radius: 50%;
  padding: 20px;
  background: #2a9d8f;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  border: 2px outset #9ed6d0;
  min-width: 120px;
  width: fit-content;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

button:hover {
  background: #1d6f65;
}

button:active {
  background: #155049;
  border: 2px inset #74a09b;
}

.start-over {
  background: #155049;
  border: 2px inset #0d3c31;
}

.container {
  text-align: center;
  margin: auto;
  max-width: 480px;
}

.landingbutton {
  border-radius: 50%;
  padding: 20px;
  background: #2a9d8f;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}
/* buttons */

/* landing */
.logo {
  font-size: 5.6rem;
  margin-top: 200px;
  margin-bottom: 15px;
}

.logo-sub {
  margin-bottom: 30px;
}

.disclaimer {
  margin-top: 30px;
}

.landing-container {
  text-align: center;
  padding-bottom: 30px;
}
/* landing */

/* miso options */
.miso-options-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
/* miso options */

/* pill description page */
.pill-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  padding: 0 5px;
  text-align: center;
  max-width: 1400px;
}

.pill-layout {
  max-width: 480px;
  margin: 10px;
}

.pill-title {
  font-size: 30px;
  /* margin-top: 70px; */
  margin-bottom: 60px;
  background-color: #fce9f4;
  padding: 30px;
}

.medication-names {
  font-size: 20px;
  margin-bottom: 0px;
  background-color: #f8f1f5;
  padding: 5px;
}

.medication-description {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
/* pill description page */

/* miso options page */
.options-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.fruitpic {
  height: 200px;
}
/* miso options page */

/* mife page */

.mife-step-one {
  font-size: 40px;
  margin-bottom: 5px;

}

.title-container {
  background-color: #fce9f4;
}

.mife-input {
  margin-top: 70px;
}

.mife-instruction {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

.suggestion {
  font-family: 'Open Sans', sans-serif;
}

.time {
  font-size: 20px;
}

.route {
  font-size: 38px;
  margin-top: 0px;
}
/* mife page */

/* instructions page */
.instructions-container {
  text-align: center;
  margin: auto;
  width: 480px;
}

.other-steps {
  font-size: 40px;
  margin-bottom: 60px;
  background-color: #fce9f4;
  padding: 30px;
}

.step-title {
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-decoration: underline;
  background-color: #f8f1f5;
  padding: 5px;
}

.step-description {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.continue-break {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 25px;
}
/* instructions page */

/* expectations page */
.expectations-container {
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.expectations-title {
  font-size: 25px;
  text-decoration: underline;
  background-color: #fce9f4;
  padding: 20px;
}

.description {
  font-family: 'Open Sans', sans-serif;
}
/* expectations page */


/* arbitrary breakpoint - around here is where mifemiso logo is too wide for viewport width */
@media only screen and (max-width: 440px) {
  .logo {
    font-size: 20vw;
    margin-top: 180px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .landing-container {
    margin-top: 200px;
    margin: auto;
    max-width: 380px;
  }

  .container {
    max-width: 380px;
  }

  .pill-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .pill-layout {
    max-width: 380px;
  }
}
